.DS_Store
autoinst/autoinst.flp
autoinst/autoinst.iso
autoinst/mkisofs
autoinst/cdrom/CONFIG.SH
autoinst/cdrom/UPGRA32
autoinst/cdrom/UPGRA64
autoinst/cdrom/UPGRADE.SH
autoinst/cdrom/CUSTOM/PRESEED.CFG
autoinst/floppy/PRESEED.CFG
autoinst/cdrom/ISOLINUX/INITRD
autoinst/cdrom/ISOLINUX/ISOLINUX.BIN
autoinst/cdrom/ISOLINUX/ISOLINUX.CFG
autoinst/cdrom/ISOLINUX/VMLINUZ
CONFIG.SH.new
disk.sh
POSTINST.SH
PRESEED.CFG.new
test.sh
autoinst/source/preseed.cfg.tmp
Untitled-1.sh
autoinst/cdrom/USERCONF.SH
